Flask
openai
pdfkit
beautifulsoup4
requests
duckduckgo_search
geopy
chromadb
spacy
neo4j
numpy
PyPDF2
playwright
python-dotenv
redis
pickle-mixin
Flask-SocketIO
eventlet
sounddevice
llama-index
llama-index-llms-openai
llama-index-embeddings-openai
langchain
langchain_community
google-search-results
pyowm
elevenlabs==0.2.27
tensorflow
